@import "../../scss/extend.scss";

.carousel-img {
    height: 560px;
}

.carousel-caption,
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: var(--dark-shadow);
}

.carousel-caption {
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    border-radius: 20px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    border-radius: 50%;
    padding: 18px;
}