@import '../../scss/extend.scss';

.footer {
    background-color: var(--slate-gray-matte);
    color: var(--dark-color);
    padding: 20px 70px;
}

.icons-container {
    @extend %flex-around-center;
    width: 23%;
}


.foot-icon {
    color: var(--dark-color);
    font-size: 40px;

    &:hover {
        color: var(--steel-blue-medium);
    }
}

.copyright {
    margin-top: 10px;
    text-align: center;
    padding-top: 5px;
    border-top: 1px solid var(--dark-color);
    font-size: 12px;
}

.foot-logo {
    color: var(--dark-color);
}