@import '../../scss/extend.scss';
.footer {
    background-color: var(--slate-gray-matte);
    padding: 20px 70px;
}

.icons-container {
    @extend %flex-around-center;
    width: 23%;
}

.foot-icon {
    color: #001B2E;
    font-size: 40px;
}

.copyright {
    margin-top: 10px;
    text-align: center;
    color: #001B2E;
    padding-top: 5px;
    border-top: 1px solid #001B2E;
    font-size: 12px;
}